<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="VCBinPath" value="C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\bin"/>
    <add key="LibFilePath" value="Gumbo.lib"/>
    <add key="LibName" value="Gumbo"/>
    <add key="OutputDefFilePath" value="Gumbo.def"/>
  </appSettings>
</configuration>